.App {
  font-size: 1em;
  text-align: left;
  height: 100vh;
  max-width: 900px;
  margin: 0 auto;
}

.students-container {
  height: 100vh;
}

.students-table {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}
.students-table__header {
  font-weight: 700;
  border: 1px solid #ccc;
  height: 24px;
}
.students-table__body {
  height: calc(100vh - 24px);
  overflow: auto;
}
.students-table__column {
  padding: 10px;
  width: 25%;
  border-right: 1px solid #ccc;
}
.students-table__row {
  border: 1px solid #ccc;
}
.students-table__row--fail {
  background: rgba(255, 34, 0, 0.15);
  border-color: rgba(255, 34, 0, 0.15);
}
.students-table__row--fail:hover {
    background: rgba(255, 34, 0, 0.3);
    border-color: rgba(255, 34, 0, 0.3);
}

.students-table__row--topper {
  background: rgb(34,204,119, 0.5);
  border-color: rgb(34,204,119, 0.5);
}
.students-table__row--topper:hover {
  background: rgb(34,204,119, 1);
  border-color: rgb(34,204,119, 1);
}

.text-transform-capitalise {
  text-transform: capitalize;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 400px;
}

.form-group {
  margin-right: 20px;
}

label {
  display: block;
  font-weight: 400;
  margin-bottom: 10px;
}

.form-control {
  border: 1px solid rgba(0, 0, 0,0.3);
  padding: 7px 14px;
  border-radius: 3px;
  width: 100%;
  font-size: 1em;
  line-height: 1;
}

.form-control.has-error {
  border-color: #ff2200;
}

.help-block {
  color: #ff2200;
  margin: 5px 0;
}

.form-control:focus {
  outline: none;
  border-color: #55acee;
}

.btn {
  box-shadow: none;
  border: none;
  text-align: center;
  padding: 7px 14px;
  border-radius: 3px;
  font-size: 1em;
  line-height: 1.1;
}

.btn:focus {
  outline: none;
}
.btn:hover {
  cursor: pointer;
}
.btn[disabled] {
  background: #999;
}
.btn-primary {
  background: #009dd6;
  color: white;
}

.form-submit {
  grid-column-start: 1;
}

.react-tabs__tab {
  padding: 10px 20px;
}

.react-tabs__tab-panel {
  padding: 20px;
}

